mat-grid-tile {
  background: lightblue;
}

.grid-content {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 10px;
}
